.title{
    text-align: center;
    background-color: #ff414e;
    padding-left: 10px;
    padding-bottom: 10px;
    
}
h1{
    margin: 0px;
}
body{
    margin-top: 0%;
}

body{
    background-color: #ff8928;
    width: 100%;
}